h1{
  text-align: center;
}

.diapers{
    display: flex;
    width: 20vw;
    height: 30px;
    border: solid;
    margin: 5px;
}

.diapers.notActive{
    background: white;
  }

.diapers.isActive{
    background: #fff100;
  }