h1{
  text-align: center;
  font-size: 32px;
}

.diapers{
    display: flex;
    width: 20vw;
    height: 30px;
    border: solid;
    display: block; 
    margin: auto;
    margin-top: 10px;
  }


.diapers.isActive{
    background: #fff100;
  }
  
  p{
    text-align: center;
    font-size: 24px;
  }

